<body>
    <h1><b>we are all about being</b></h1><br>
    <h2><b>Global | Modern | Agile</b></h2>
</body>
<div class="row">
    <div class="column1">
        <h3 style="color:rgba(0,0,0);"><b>1000+</b></h3>
        <p>Skilled professionals</p>
    </div>
    <div class="column2">
        <h3><b>14+</b></h3>
        <p>years of Software Development</p>
    </div>
    <div class="column3">
        <h3><b>10+</b></h3>
        <p>locations</p>
    </div>
</div>
    <div class="container">
        <h1><b>A Journey from ordinary to extradinory</b></h1>
        <p>We Terralogians came into being in 2008 and since then we do everything possible to solve human problems with solutions that make practical sense and not just in theory. We are a global family, kindred to think about innovations, by making our products and solutions more sustainable. Today in 2020, we are a diverse global team who are continuously making a positive impact in the digital transformation space. Bringing innovation in little things, inspiring solutions and products that users actually need.</p>
    </div>
